{erl_opts, [debug_info]}.
{deps, [nebulex,
        %% Temporary override; invalid type defs fixed in main but not
        %% in hex yet.
       {shards, {git, "https://github.com/cabol/shards.git", {branch, "master"}}}
]}.

{plugins, [rebar_mix]}.
{provider_hooks, [{post, [{compile, {mix, consolidate_protocols}}]}]}.
