{<<"name">>,<<"exometer_core">>}.
{<<"version">>,<<"1.5.2">>}.
{<<"requirements">>,
 #{<<"folsom">> =>
       #{<<"app">> => <<"folsom">>,<<"optional">> => false,
         <<"requirement">> => <<"~>0.8.5">>},
   <<"hut">> =>
       #{<<"app">> => <<"hut">>,<<"optional">> => false,
         <<"requirement">> => <<"~>1.2.0">>},
   <<"lager">> =>
       #{<<"app">> => <<"lager">>,<<"optional">> => false,
         <<"requirement">> => <<"~>3.5.0">>},
   <<"parse_trans">> =>
       #{<<"app">> => <<"parse_trans">>,<<"optional">> => false,
         <<"requirement">> => <<"~>3.0.0">>},
   <<"setup">> =>
       #{<<"app">> => <<"setup">>,<<"optional">> => false,
         <<"requirement">> => <<"~>1.8.2">>}}}.
{<<"app">>,<<"exometer_core">>}.
{<<"maintainers">>,[<<"Feuerlabs">>,<<"Heinz N. Gies">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Code instrumentation and metrics collection package.">>}.
{<<"files">>,
 [<<"src/exometer_core.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"include/exometer.hrl">>,<<"priv/app.config">>,
  <<"priv/remove_deps.script">>,<<"rebar.config">>,<<"rebar.config.script">>,
  <<"rebar.lock">>,<<"src/exo_montest.erl">>,<<"src/exometer.erl">>,
  <<"src/exometer_admin.erl">>,<<"src/exometer_alias.erl">>,
  <<"src/exometer_cache.erl">>,<<"src/exometer_core_app.erl">>,
  <<"src/exometer_core_sup.erl">>,<<"src/exometer_cpu.erl">>,
  <<"src/exometer_duration.erl">>,<<"src/exometer_entry.erl">>,
  <<"src/exometer_folsom.erl">>,<<"src/exometer_folsom_monitor.erl">>,
  <<"src/exometer_function.erl">>,<<"src/exometer_global.erl">>,
  <<"src/exometer_histogram.erl">>,<<"src/exometer_igor.erl">>,
  <<"src/exometer_info.erl">>,<<"src/exometer_probe.erl">>,
  <<"src/exometer_proc.erl">>,<<"src/exometer_report.erl">>,
  <<"src/exometer_report_logger.erl">>,
  <<"src/exometer_report_logger_sup.erl">>,<<"src/exometer_report_tty.erl">>,
  <<"src/exometer_shallowtree.erl">>,<<"src/exometer_slide.erl">>,
  <<"src/exometer_slot_slide.erl">>,<<"src/exometer_spiral.erl">>,
  <<"src/exometer_uniform.erl">>,<<"src/exometer_util.erl">>]}.
{<<"licenses">>,[<<"MPL">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/Feuerlabs/exometer_core">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
