{erl_opts, [debug_info]}.
{deps, [
{cowboy,
  {git,"git://github.com/extend/cowboy",
       {ref,"3d9078018d7f0a83a359b70c698d35e35fbb94f9"}}},
{n2o, {git, "git://github.com/synrc/n2o.git", {tag, "2.3"}}}]}.

{relx, [{release, {'conflicting_erlydtl', "0.1.0"},
         [conflicting_erlydtl,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},
{overlay, [{copy, "Procfile", "Procfile"}]}
]}.


{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
