{erl_opts, [debug_info]}.
{deps, [{n2o, {git, "git://github.com/5HT/n2o.git", {tag, "2.3"}}}]}.

{relx, [{release, {'conflicting_erlydtl', "0.1.0"},
         [conflicting_erlydtl,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
