{erl_opts, [debug_info, {parse_transform, lager_transform}, {verbosity, trace}]}.
{deps, [
        {eleveldb, {git, "https://github.com/basho/eleveldb.git", {branch, "master"}}},
        {procket, {git, "https://github.com/msantos/procket.git", {branch, "master"}}}
    ]
}.
{profiles,[{d,[{deps, [poolboy]}]}]}.
{overrides,
 [
{override, cuttlefish, [{post_hooks, []}]},
{override, eleveldb,
   [
   {{deps,default}, []},

   {artifacts, ["priv/eleveldb.so"]},
   {pre_hooks, [{compile, "c_src/build_deps.sh get-deps"},
                {compile, "c_src/build_deps.sh"}]},

   {post_hooks, [{clean, "c_src/build_deps.sh clean"}]},

   {plugins, [pc]},

   {provider_hooks, [
                    {post, [
                           {compile, {pc, compile}},
                           {clean, {pc, clean}}
                           ]
                    }]
   }
   ]}
 ]}.
