{erl_opts, [debug_info]}.
{deps, [cowboy]}.
%{job, {git,"https://github.com/esl/jobs.git", {branch, master}}}]}.

{profiles, [{test,
            [{deps, [{cowboy, "1.0.1"},
{meck, ".*",
                      {git, "git://github.com/eproxus/meck.git", {branch, "master"}}}
                    ]}]}
           ]}.
