{erl_opts, [debug_info]}.
{deps,
[
active
,amqp_client
,cowboy
,cowlib
,craterl
,dynamic_compile
,eper
,eredis
,erlang_term
,erlcloud
,erldn
,esqlite
,feeder
,fs
,gen_smtp
,goldrush
,gproc
,hackney
,idna
,idna
,jsx
,jsxn
,key2value
,keys1value
,lager
,lhttpc
,meck
,mochiweb
,mtx
,nodefinder
,poolboy
,pooler
,pot
,pqueue
,quickrand
,rabbit_common
,ranch
,reltool_util
,sfmt
,sidejob
,ssl_verify_hostname
,tea_crypto
,tinymt
,trie]
}.
