{erl_opts, [debug_info]}.

{deps,  [{snappy,  {raw, {git, "https://github.com/google/snappy.git", {ref, "156cd8939c5fba7fa68ae08db843377ecc07b4b5"}},
                    [ {description, "Google's Snappy compression library"},
                      {vsn, "probably-not-a-good-idea-to-override-this"} ] }}]}.
{plugins, [
    rebar_raw_resource
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [raw_resource_test]}
]}.
