{<<"name">>,<<"exometer_fetch">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"requirements">>,
 #{<<"exometer_core">> =>
       #{<<"app">> => <<"exometer_core">>,<<"optional">> => false,
         <<"requirement">> => <<"1.5.2">>}}}.
{<<"app">>,<<"exometer_fetch">>}.
{<<"maintainers">>,[<<"Yury Gargay">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Fetch helper for exometer">>}.
{<<"files">>,
 [<<"src/exometer_fetch.app.src">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/exometer_fetch.erl">>,
  <<"src/exometer_report_fetch.erl">>]}.
{<<"licenses">>,[<<"MPL 2.0">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/travelping/exometer_fetch">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
