{erl_opts, [debug_info]}.

{deps, [
       {eleveldb, {git, "https://github.com/basho/eleveldb.git", {branch, "master"}}}
]}.
{plugins, [
           {rebar3_cuttlefish, ".*", {git, "git://github.com/tsloughter/rebar3_cuttlefish.git", {branch, "master"}}}
          ]}.

{overrides,
 [{override, eleveldb, [
                       {artifacts, ["priv/eleveldb.so"]},
                       {pre_hooks, [{compile, "c_src/build_deps.sh get-deps"},
                                    {compile, "c_src/build_deps.sh"}]},

                       {post_hooks, [{clean, "c_src/build_deps.sh clean"}]},

                       {plugins, [
                                 {pc, {git, "git@github.com:blt/port_compiler.git", {branch, "master"}}}
                                 ]},

                       {provider_hooks, [{post,
                                          [{compile, {pc, compile}},
                                           {clean, {pc, clean}}]}]}
                    ]
  }
 ]}.
