{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {app1, "0.1.0"},
         [app1, sasl]},
        {release, {app1, "0.2.0"},
         [app1, sasl]},
        {release, {app2, "0.1.0"},
         [app2, sasl]},
        {release, {both, "0.1.0"},
        [app1, app2, sasl]},

        {mode, dev},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.
