{erl_opts, [debug_info]}.
{deps, [elli]}.

{hex, [{repos, replace, [
  #{api_url => <<"https://hex.pm/api">>,http_adapter => hex_http_httpc,
    http_adapter_config => #{profile => default},
    http_user_agent_fragment => <<"(httpc)">>,name => <<"hexpm">>,
    repo_public_key =>
        <<"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApqREcFDt5vV21JVe2QNB\nEdvzk6w36aNFhVGWN5toNJRjRJ6m4hIuG4KaXtDWVLjnvct6MYMfqhC79HAGwyF+\nIqR6Q6a5bbFSsImgBJwz1oadoVKD6ZNetAuCIK84cjMrEFRkELtEIPNHblCzUkkM\n3rS9+DPlnfG8hBvGi6tvQIuZmXGCxF/73hU0/MyGhbmEjIKRtG6b0sJYKelRLTPW\nXgK7s5pESgiwf2YC/2MGDXjAJfpfCd0RpLdvd4eRiXtVlE9qO9bND94E7PgQ/xqZ\nJ1i2xWFndWa6nfFnRxZmCStCOZWYYPlaxr+FZceFbpMwzTNs4g3d4tLNUcbKAIH4\n0wIDAQAB\n-----END PUBLIC KEY-----">>,
    repo_url => <<"https://repo.hex.pm">>,repo_verify => true,
    repo_verify_origin => true}
  ]}]}.
