{erl_opts, [debug_info]}.
{deps, [{elli, {git, "https://github.com/elli-lib/elli", {branch, "master"}}},
        {single_app_hooks, {git_subdir, "https://github.com/tsloughter/rebar3_tests",
                            {branch, "master"}, "single_app_hooks"}
        }]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [sub_dir_deps]}
]}.
